:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f0f0f;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h2,h4,p, h5  {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

/* a:hover {
  color: #fff;
} */

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  width: 100%;
}

input, button {
  padding: 0.5rem 1rem;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

html {
  scroll-behavior: smooth;
}

article {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

form {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  gap: 0.5rem;
  align-items: center;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #272727; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}