@media screen and (max-width: 500px) {
  .App {
    width: 100vw;
    margin: 0 auto;
    padding: 1rem;
  }
}

/* WEB */
@media screen and (min-width: 500px) {
  .App {
    width: 500px;
    margin: 0 auto;
  }

  .App {
    display: flex;
    flex-direction: column;
  }

  .account {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
}
