.chat {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  background-color: rgb(34, 34, 34);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.details > p {
  font-size: 14px;
}

.chat > div > img {
  /* width: 40px;
  height: 40px; */
  object-fit: cover;
  border-radius: 50px;
}